.Machine {
  background-color: rgb(40, 40, 40);
  color: var(--text-color);
  height: 100%;

  .samples {
    display: flex;
    // flex: 1 100px;
    justify-content: space-between;
    // padding: 1rem 1rem;
    width: 100%;
  }
}